.App {
  text-align: center;
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-image: url("https://i.ibb.co/ZGFmLPm/planebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5rem;
}


