@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,300;1,400;1,500;1,600;1,700&display=swap");

.App {
  text-align: center;
}
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  background-image: url("https://i.ibb.co/ZGFmLPm/planebackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5rem;
}

a {
  text-decoration: none !important;
}

footer {
  background:#424242 none repeat scroll 0 0;
  border-top: 1px solid rgba(80, 80, 80, 0.1);
  bottom: 0;
  box-shadow: 0 -1px 80px 80px #424242;
  font-size: 13px;
  font-weight: normal;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;
}
